PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://chuongminh3225_db_user:yeoov76H0YDw8Mkk@ac-hkayiwn-shard-00-00.raruvb7.mongodb.net:27017,ac-hkayiwn-shard-00-01.raruvb7.mongodb.net:27017,ac-hkayiwn-shard-00-02.raruvb7.mongodb.net:27017/?ssl=true&replicaSet=atlas-zj9cqo-shard-0&authSource=admin&appName=Cluster0